.loadMoreBtnSection {
  background-color: #b0ded9;
  padding: 20px 0;
  text-align: center;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.loadMoreBtn {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #fff;
  background-image: linear-gradient(140deg, #c1b8e0, #8e82bd);
}

.loadMoreBtn:hover {
  background: #c1b8e0;
}

